@media (max-width: 999px) {
  .navbar {
    padding: 0px 0px;
    .socail-data {
      display: none !important;
    }
    .hamburger {
      display: block !important;
    }

    .data-icons {
      width: 100%;
      justify-content: center;

      .custom-btn {
        height: 35px !important;
      }
    }

    .top-nav {
      margin-bottom: 0px;
    }

    &.scrolled {

      .brand-name img {
        height: 60px !important;
      }

      .navbar-nav {
        top: 80px;
        height: 100vh !important;
      }
    }

    .navbar-nav {
      width: 100%;
      height: 100vh !important;
      position: absolute;
      padding: 20px 15px 120px 0px;
      background-color: #fff;
      z-index: 99;
      top: 170px;
      right: -100%;
      overflow-y: scroll;
      flex-direction: column !important;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      transition: all .3s linear;

      &.active-nav {
        right: 0px;
      }

      .nav-item {
        width: 100%;
        margin: 0px !important;
        padding: 10px 20px;
        border-bottom: 1px solid rgba($color: #8DC63F, $alpha: 0.3);

        &:last-child {
          border-bottom: 0px !important;
        }

        .nav-link {
          width: fit-content;
        }
      }
    }

    .brand-name img {
      object-position: left !important;
    }
  }

  header {
    padding: 200px 0px 50px;

    h1 {
      font-size: 20px !important;

      span {
        margin: 0px !important;
      }
    }
  }

  .about-us {
    padding: 90px 0px 40px;

    &.about-revers {
      padding-top: 0px !important;
    }

    &::after {
      width: 150px;
      opacity: .2;
    }

    .box {
      padding: 20px 5px;

      img {
        width: 70px;
        height: 70px;
      }
    }
  }


  .projects.pattern-shape-left::after {
    width: 150px;
    opacity: .2;
  }

  .projects  {
    padding: 30px 0px;
  }

  .padding-contain {
    padding-inline-start: 0px !important;
  }

  .newsLetter {
    padding-top: 0px !important;
    h1 {
      font-size: 23px !important;
    }
    .contain {
      padding: 30px 10px;
    }
    .form-group {
      .custom-btn {
        width: 120px !important;
      }

      .form-control {
        padding-inline-end: 120px !important;
      }
    }
  }

  .cart .project-box {
    flex-direction: column;

    .image-content, .contain {
      width: 100%;
    }
  }

  .bank-data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .content {
      width: 100% !important;
      margin-top: 20px;

      li {
        justify-content: space-between !important;

        span {
          font-size: 14px !important;
        }
      }
    }
  }
}